<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Server=Localhost;DataBase=MiniDropBox;Integrated Security=True;Encrypt=False;TrustServerCertificate=False; User ID=sa; Password=Akatsuki87"/>
  <!--<add name="MiniDropbox.Remote" connectionString="Server=1a2d98b9-11cc-49c4-93c4-a200001eef71.sqlserver.sequelizer.com;Database=db1a2d98b911cc49c493c4a200001eef71;User ID=ioewfrbcwfkwsrte;Password=QMfuxiAX8hpdLxYQ5TCUteuFsHAaYWKrCvwutaomhu3ezaACvS68k8YLrGbXPA7k;"/>-->
<add name="MiniDropbox.Remote" connectionString="Server=9a761585-743d-437a-94cf-a20800fd7f22.sqlserver.sequelizer.com;Database=db9a761585743d437a94cfa20800fd7f22;User ID=zrlwmsaogvvbjrhu;Password=WyVaKYUcRDtQaUxqAS8zrVse264ttQGPX5surFcPLKfjmwttAqVuJz2afRhN5zQb;"/>
</connectionStrings>