<connectionStrings>
  <!--<add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
  <add name="MiniDropbox.Local" connectionString="Server=Localhost;DataBase=MiniDropBox;Integrated Security=True;Encrypt=False;TrustServerCertificate=False; User ID=sa; Password=Akatsuki87"/>
  <add name="MiniDropbox.Remote" connectionString="Server=9a761585-743d-437a-94cf-a20800fd7f22.sqlserver.sequelizer.com;Database=db9a761585743d437a94cfa20800fd7f22;User ID=zrlwmsaogvvbjrhu;Password=WyVaKYUcRDtQaUxqAS8zrVse264ttQGPX5surFcPLKfjmwttAqVuJz2afRhN5zQb;"/>
</connectionStrings>